In [ ]:
!pip install gspread

In [ ]:
!pip install gspread oauth2client

In [43]:
import pandas as pd

In [7]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials

In [64]:
# use creds to create a client to interact with the Google Drive API
scope = ['https://www.googleapis.com/auth/drive']
# # scope = ['https://spreadsheets.google.com/feeds']
# # scope = ['https://spreadsheets.google.com/feeds',
# #          'https://www.googleapis.com/auth/drive']
# scope = ['https://spreadsheets.google.com/feeds',
# 'https://www.googleapis.com/auth/drive']
creds = ServiceAccountCredentials.from_json_keyfile_name('myapi.json', scope)
client = gspread.authorize(creds)

# Find a workbook by name and open the first sheet
# Make sure you use the right name here.
sheet = client.open('Data').sheet1

# Extract and print all of the values
# list_of_hashes = sheet.get_all_records()
list_of_hashes=sheet.get_all_values()
print(type(list_of_hashes))
df=pd.DataFrame(list_of_hashes,columns=list('XYZ'))[]
df1=df

<class 'list'>

In [66]:
df1

    X      Y          Z
0  SN   Name        ADD
1   1    IIU  Ihjhskjhf
2   2    KHU      smfns
3   2    DSA      cnvnc
4   3    GAN       qewe
5   4  arjun        jum

In [67]:
df1['X']

0    SN
1     1
2     2
3     2
4     3
5     4
Name: X, dtype: object