In [25]:
# !pip install pdfplumber
# !pip install typing-extensions

In [17]:
import pdfplumber
import pandas as pd
import numpy as np
file = r"C:\Users\Arzun\Desktop\magoosh-gre-1000.pdf"
df=pd.DataFrame(columns=['Word'])
list=[]
with pdfplumber.open(file) as pdf: 
    for i in range(95):
        text = pdf.pages[i]
#         clean_text = text.filter(lambda obj: not (obj["object_type"] == "char" and "Bold" in obj["fontname"]))
        clean_text = text.filter(lambda obj: (obj["object_type"] == "char" and "Bold" in obj["fontname"]))
        list.append(clean_text.extract_text().splitlines())

word_list= [item for sublist in list for item in sublist][1::]
df=pd.DataFrame(columns=['Words'],data=word_list)

In [18]:
# df.loc[[707]]
df = df.drop([326,327,328,705,706,707])
df.index = np.arange(1, len(df) + 1)
df.index.name = 'SN'

In [19]:
len(df)

1069

In [20]:
df.head(10)

         Words
SN
1     aberrant
2   aberration
3      abstain
4     abstruse
5     accolade
6      acerbic
7     acrimony
8      adamant
9     admonish
10  admonitory

In [128]:
df.to_csv("C:\\Users\\Arzun\\Desktop\\magoosh.csv")

In [21]:
df.head()

         Words
SN
1     aberrant
2   aberration
3      abstain
4     abstruse
5     accolade